.scaleContainer {
    color: white;
    font-weight: bold;
    border-right: solid 2px white;
    width: 250px;
    height: 100px;
    text-align: center;
    display: table;
    margin: 30px;
    position: fixed;
}